extends layout

block content
    h1 c3tec
    span Nombre:
    input#nombre(type='text' name='nombre')
    span Fecha:
    input#nombre(type='text' name='nombre')
    span Entrado por:
    input#nombre(type='text' name='nombre')
    span Pueblo:
    input#nombre(type='text' name='nombre')
    span Grado:
    input#nombre(type='text' name='nombre')
    span clasificacion:
    input#nombre(type='text' name='nombre')
    span Ofrecimiento:
    input#nombre(type='text' name='nombre')
    span Cantidad:
    input#nombre(type='text' name='nombre')
    span Niños:
    input#nombre(type='text' name='nombre')
    span Adultos:
    input#nombre(type='text' name='nombre')
    span Seniors:
    input#nombre(type='text' name='nombre')
    span impedidos:
    input#nombre(type='text' name='nombre')
    span Maestros:
    input#nombre(type='text' name='nombre')
    span No Charge:
    input#nombre(type='text' name='nombre')
    span Total de Visitante:
    input#nombre(type='text' name='nombre')
    span Eventos:
    input#nombre(type='text' name='nombre')

    button.btn.btn-success#anadir submit
