extends layout

block content
  h1 c3tec
  span Nombre:
  input#nombre(type='text' name='nombre')
  span Fecha:
  input#fecha(type='date' name='fecha')
  span Entrado por:
  input#entradopor(type='text' name='entradopor')
  span Encargado:
  input#encargado(type='text' name='encargado')
  span Pueblo:
  input#pueblo(type='text' name='pueblo')
  span Grado:
  input#grado(type='text' name='grado')
  span clasificacion:
  input#clasificacion(type='text' name='clasificacion')
  span Ofrecimiento:
  input#ofrecimiento(type='text' name='ofrecimiento')
  span Cantidad:
  input#cantidad(type='text' name='cantidad')
  span Niños:
  input#ninos(type='text' name='ninos')
  span Adultos:
  input#adultos(type='text' name='adultos')
  span Seniors:
  input#seniors(type='text' name='seniors')
  span impedidos:
  input#impedidos(type='text' name='impedidos')
  span Maestros:
  input#maestros(type='text' name='maestros')
  span No Charge:
  input#nocharge(type='text' name='nocharge')
  span Total de Visitante:
  input#total(type='text' name='total')
  span Eventos:
  input#eventos(type='text' name='eventos')
  a(href='/succes')
    button.btn.btn-success#anadir submit
